# Ignore .conda folder
.conda/
# Ignore .streamlit folder
.streamlit/
# Ignore .env file
.env
# Additional common ignores for Python projects
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.docx
Sol_89303023REI000090_Amd_0004.txt
# Ignore PDFs everywhere
**/*.pdf

# Include data folder
!data/
!data/**

# But still ignore PDFs in data folder
data/**/*.pdf